.UserProfilePageContainer {
  margin-top: 2rem;
  margin-left: 5rem;
}
.UserInformationContainer {
  width: 100%;
  display: flex;
  gap: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.UserNameAndEditButton {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
}
.UserNameAndEditButton button {
  border: none;
  outline: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.36rem;
  background-color: #dfdfdf;
  color: black;
}
.UserNameAndEditButton button:hover {
  background-color: #c7c5c5;
}
.UserProfileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.UserNameAndEditButton {
  display: flex;
}
.PostFollowDetails {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
}
.PostFollowDetails span {
  font-weight: 500;
}
.HorizontalLine {
  height: 0.1rem;
  background-color: var(--line-color);
}
.UserProfilePostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.UserProfilePostHeader {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding-inline-start: 0rem;
}
.UserProfilePostHeader li {
  display: flex;
  gap: 1rem;
  padding: 1rem 0rem;
  cursor: pointer;
  border-spacing: 0.1rem;
  border-collapse: separate;
  border-top: 0.1rem solid;
  color: grey;
}
.UserProfilePostHeaderIcon {
  font-size: 1.6rem;
  color: grey;
}
.UserProfilePostHeader li span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
}
.UserProfilePostWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
}
