.LeftMenubarWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MenuBarList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  list-style: none;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding-inline-start: 0rem;
  margin-top: 4rem;
  margin-left: 0.8rem;
  padding: 1rem;
}
.MenuBarList li {
  border-radius: 1rem;
}
.MenuBarList .MenuBarListItem {
  cursor: pointer;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  border-radius: 1rem;
}
.MenuBarIcon {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserProfileContainer {
  margin-left: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.UserInfo,
.UserInfo div:first-of-type {
  display: flex;
  align-items: center;
}
.UserInfo div:first-of-type {
  gap: 0.5rem;
}
.UserInfo {
  justify-content: space-between;
  padding-left: 1rem;
  font-size: 1.6rem;
}
.UserInfoOptionBarIcon {
  font-size: 2rem;
  margin-right: 1rem;
}
.LogOutContainer {
  position: absolute;
  border-radius: 0.36rem;
  bottom: 6rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--line-color);
  background-color: white;
}
.LogOutContainer ul {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.LogOutContainer ul li {
  box-sizing: border-box;
  padding: 1rem 5rem 1rem 1rem;
  display: flex;
  gap: 2rem;
  cursor: pointer;
  border-radius: 0.36rem;
}
.LogOutIcon {
  font-size: 2rem;
}
@media (hover: hover) {
  .MenuBarList li:hover {
    background-color: var(--hover-color);
  }
  .LogOutContainer ul li:hover {
    background-color: var(--hover-color);
  }
}
